@model SBiPayrollWeb.Entities.spUser

@{
    ViewBag.Title = "User Details";
    var User = Model.EmployeeName.ToUpper(); 
}

<h2 class="page-title">Details for - @User </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User Details</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @{
    List<SelectListItem> lstStatus = new List<SelectListItem>();
    lstStatus.Add(new SelectListItem
         {
             Text = "Active",
             Value = "A",
             Selected = true
         });
    lstStatus.Add(new SelectListItem
         {
             Text = "Non-Active",
             Value = "N"

         });
            }

            @Html.DropDownListFor(model => model.Status, lstStatus, new { @id = "cboStatus", @style = "width: 310px;height: 30px;" })
            @Html.ValidationMessageFor(model => model.Status)
        </div>

    </fieldset>
}









@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () { 

            $("#progress").hide();

            $.ajaxSetup({ cache: false });

        });
    </script>

}









