@model IEnumerable<SBiPayrollWeb.Entities.Payroll>

@{
    ViewBag.Title = "Payrolls";
    int Payrolls = Model.Count();
}

<h2 class="page-title">Process Payrolls</h2>
<h2 class="page-title">Payrolls [ @Payrolls ]</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Period)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RunBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOpen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Processed)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployerId)
            </td>
            <td>
                @{
        var DateRunAsString = item.DateRun;
                }

                @Html.TextBoxFor(model => item.DateRun, new { Value = DateRunAsString.ToString("yyyy-MM-dd"), @readonly = "readonly", @class = "datepicker", type = "date" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Processed)
            </td>
            <td>
                @Html.ActionLink("Process", "ProcessPayroll", new { Year = item.Year, Period = item.Period }, htmlAttributes: new { @class = "btn_process_payroll" })
        </tr>
    }

</table>







@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {

            $("#progress").hide();

            $.ajaxSetup({ cache: false });

        });

        $(".btn_process_payroll").on("click", function (e) {

            e.preventDefault();

            $("#progress").removeClass('displaynone');
            $("#progress").addClass('displayblock');
            $("#progress").show();

            var obj_data = {
                "Year": "",
                "Period": ""
            };

            $.ajax({
                type: "POST",
                url: "Payrolls/ProcessPayroll",
                dataType: 'json',
                data: obj_data,
                success: function (response) {

                    console.log(response);

                    $("#progress").removeClass('displayblock');
                    $("#progress").addClass('displaynone');
                    $("#progress").hide();

                },
                failure: function (response) {

                    console.log(response);

                    $("#progress").removeClass('displayblock');
                    $("#progress").addClass('displaynone');
                    $("#progress").hide();

                },
                error: function (response) {

                    console.log(response);

                    $("#progress").removeClass('displayblock');
                    $("#progress").addClass('displaynone');
                    $("#progress").hide();

                }
            })

        });

    </script>

}









